# Frontend
frontend/node_modules/
frontend/dist/
frontend/.local/
frontend/.config/
frontend/.env.local

# Backend
backend/target/
backend/.env

# Contracts
contracts/node_modules/
contracts/artifacts/
contracts/cache/

# OS
.DS_Store
*.log